In this notebook I extract the data from the PDFs provided by the organizers of the run. I use Camelot.

In [1]:
import pandas as pd
import numpy as np
import camelot
import re

### DATA OF 5KM RUN

In [2]:
tables5 = camelot.read_pdf('data/5+km+Lauf_1_1597.pdf', flavor='stream', pages='all')

In [3]:
five1=tables5[0].df
five2=tables5[1].df
five3=tables5[2].df
five4=tables5[3].df

In [4]:
def adjustments5(df):
    df = df.drop(0)
    df = df.drop([0,1,2], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df = df.reset_index(drop=True)
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Strecke'] = 5
    return df

In [5]:
five1 = adjustments5(five1)
five2 = adjustments5(five2)
five3 = adjustments5(five3)
five4 = adjustments5(five4)

In [6]:
five4.loc[9, 'AK'] = 'M 55'
five4.loc[10, 'AK'] = 'W20'

In [7]:
five_km = pd.concat([five1, five2, five3, five4], axis=0)
five_km = five_km.reset_index(drop=True)
five_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,605,M 20,1,TuS Kreuzweingarten-Rheder,17:16 min,(17:15),5
1,666,M 40,1,LG Mauerweg Berlin e.V.,17:56 min,(17:55),5
2,1083,M 30,1,BSV Friesen,18:07 min,(18:05),5
3,643,M 20,2,TuS Neukölln Berlin,18:12 min,(17:55),5
4,601,M 35,1,TVB 09,18:43 min,(18:27),5
...,...,...,...,...,...,...,...
197,520,W 40,18,LG Mauerweg Berlin e.V.,47:05 min,(45:08),5
198,700,W 55,7,Berlin,49:49 min,(48:42),5
199,128,W 20,11,adidas runners,56:19 min,(55:12),5
200,573,W 55,8,Lauftreff Brunnenviertel,56:42 min,(56:24),5
201,1009,M 50,6,Berlin,2:00:26 h,(2:00:26),5

### DATA OF 10KM RUN

In [8]:
tables10 = camelot.read_pdf('data/10+km+Lauf_2_1597.pdf', flavor='stream', pages='all')

In [9]:
tables10

In [10]:
for i, df in enumerate(tables10):
    globals()[f'ten{i+1}'] = df.df

In [11]:
ten1.iloc[41, 6] = 'Ghost Runners International Club'
ten1.iloc[41, 7] = ''
ten3.iloc[27,6] = 'Laufgruppe Hohenschönhausen'
ten3.iloc[27,7] = ''
ten4.iloc[47,6] = 'BSC Eintracht Südring Futsal'
ten4.iloc[47,7] = ''
ten4.iloc[27, 6] = 'Ghost Runners International Club'
ten4.iloc[27, 7] = ''
ten9.iloc[44,5] = 'SCC BERLIN SEEWOLFJÄGER'
ten9.iloc[44,6] = ''
ten10.iloc[39,6] = 'bsg-dkb.de / ERDINGER Active TEAM'
ten10.iloc[39,7] = ''
ten10.iloc[17,6]= 'SV Blau-Weiß Petershagen/Eggersdorf'
ten10.iloc[17,7] = ''

In [12]:
def adjustments10(df, distance):
    df = df.drop(0)
    df = df.drop([0,1,2,7], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

def adjustments10_alt1(df, distance):
    df = df.drop(0)
    df = df.drop([0,1,2], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

def adjustments10_alt2(df, distance):
    df = df.drop([0,1,2,3])
    df = df.drop([0,2,6], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

In [13]:
ten1 = adjustments10(ten1,10)
ten2 = adjustments10(ten2,10)
ten3 = adjustments10(ten3,10)
ten4 = adjustments10(ten4,10)
ten5 = adjustments10(ten5,10)
ten6 = adjustments10(ten6,10)
ten7 = adjustments10_alt1(ten7,10)
ten8 = adjustments10_alt2(ten8,10)
ten9 = adjustments10_alt2(ten9,10)
ten10 = adjustments10(ten10,10)

In [14]:
ten1.loc[14, 'AK'] = 'M 35'
ten9.loc[11, 'AK'] = 'M 40'
ten10.loc[16, 'AK'] = 'W 55'

In [15]:
ten_km = pd.concat([ten1, ten2, ten3, ten4, ten5, ten6, ten7, ten8, ten9, ten10], axis=0)
ten_km = ten_km.reset_index(drop=True)
ten_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,381,M 20,1,Team Berlin Triathlon,31:41 min,(31:41),10
1,318,M 20,2,SGS Running Team,33:50 min,(33:50),10
2,323,M 20,3,Berlin,36:17 min,(36:15),10
3,400,M 30,1,Hasenheide parkrunners,36:23 min,(36:23),10
4,420,M 30,2,Berlin,36:30 min,(36:28),10
...,...,...,...,...,...,...,...
266,240,W 30,21,Berlin,1:24:18 h,(1:22:40),10
267,235,W 55,4,Berlin - Pankow,1:25:07 h,(1:24:35),10
268,234,W 55,5,Berlin,1:25:30 h,(1:24:02),10
269,253,W 55,6,Berlin,1:27:23 h,(1:26:05),10
270,269,M 35,32,bsg-dkb.de / ERDINGER Active TEAM,1:31:13 h,(1:29:36),10

### DATA OF 15KM RUN

In [16]:
tables15 = camelot.read_pdf('data/15+km+Lauf_3_1597.pdf', flavor='stream', pages='all')

In [17]:
tables15

In [18]:
for i, df in enumerate(tables15):
    globals()[f'fifteen{i+1}'] = df.df

In [19]:
def split_column(row):
    if '\n' in str(row):
        return row.split('\n')
    else:
        return [row, '']

In [20]:
def adjustments15(df):
    df = df.drop([0,1,2], axis=1)
    df = df.drop(0)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df = df.reset_index(drop=True)
    df[['Platz AK', 'Verein2']] = pd.DataFrame(df['Platz AK'].apply(split_column).tolist())
    df['Merged_Verein'] = df['Verein'].fillna('') + df['Verein2'].fillna('')
    df.drop(columns=['Verein', 'Verein2'], inplace=True)
    df.rename(columns={'Merged_Verein': 'Verein'}, inplace=True)
    df = df[['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit']]
    df['Strecke'] = 15
    return df

In [21]:
fifteen1 = adjustments15(fifteen1)
# just noticed, that for some reason the dfs fifteen1 and fifteen2 as created by camlot contain exactly the same table, so the numbers are a bit mixed up now
fifteen2 = adjustments15(fifteen3)
fifteen3 = adjustments15(fifteen4)
fifteen4 = adjustments15(fifteen5)

In [22]:
fifteen2.loc[23, 'AK'] = 'W 50'

In [23]:
fifteen_km = pd.concat([fifteen1, fifteen2, fifteen3, fifteen4], axis=0)
fifteen_km = fifteen_km.reset_index(drop=True)
fifteen_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,861,M 30,1,Berlin Harriers,55:27 min,(55:15),15
1,816,M 35,1,SSV Ulm Triathlon,55:42 min,(55:41),15
2,881,M 30,2,WSV 21 Wolfenbüttel,55:48 min,(55:46),15
3,871,M 35,2,Berlin,57:02 min,(56:48),15
4,836,M 40,1,TuS Lichterfelde,57:05 min,(57:03),15
...,...,...,...,...,...,...,...
92,869,W 30,3,Berlin,1:51:13 h,(1:49:29),15
93,858,W 60,3,SC Borussia Friedrichsfelde Berlin,1:54:10 h,(1:53:25),15
94,817,M 30,11,Penny Runners,2:00:16 h,(1:58:29),15
95,889,W 50,3,Berlin,2:06:18 h,(2:05:07),15
96,77,M 60,4,SCC Berlin,2:20:04 h,(2:20:04),15

### DATA OF 20KM RUN

In [24]:
tables20 = camelot.read_pdf('data/20+km+Lauf_4_1597.pdf', flavor='stream', pages='all')

In [25]:
tables20

In [26]:
twenty1 = tables20[0].df
twenty2 = tables20[2].df
twenty3 = tables20[3].df
twenty4 = tables20[4].df
twenty5 = tables20[6].df

In [27]:
def extract_Startnr_and_add_Name(value, existing):
    if isinstance(value, str):
        match = re.match(r'^(\d+)(\D.*)', value)
        if match:
            Startnr = int(match.group(1))
            Name = match.group(2)
            if existing:
                return Startnr, existing + Name
            else:
                return Startnr, Name
    return value, existing

def extract_Name_and_add_Startnr(value, existing):
    if isinstance(value, str):
        match = re.match(r'^(\d+)\s+(.*)', value)
        if match:
            Startnr = match.group(1)
            Name = match.group(2)
            return existing + Startnr, Name
    return existing, value

In [28]:
def adjustments20(df):
    df = df.drop([0,1,2], axis=1)
    df = df.drop([0,1])
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'Name', 'AK', 'Platz AK, Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([2,3])
    df[['Startnr.', 'Name']] = df.apply(lambda row: extract_Startnr_and_add_Name(row['Startnr.'], row['Name']), axis=1, result_type='expand')
    df[['Startnr.', 'Name']] = df.apply(lambda row: extract_Name_and_add_Startnr(row['Name'], row['Startnr.']), axis=1, result_type='expand')
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df = df.reset_index(drop=True)
    df[['Platz AK', 'Verein']] = pd.DataFrame(df['Platz AK, Verein'].apply(split_column).tolist())
    df = df.drop(columns=['Platz AK, Verein'])
    df = df[['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit']]
    df['Strecke'] = 20
    return df

def adjustments20_alt1(df):
    df = df.drop([0,1,2], axis=1)
    df = df.drop([0,1])
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'Name', 'AK', 'Platz AK, Verein', 'Bruttozeit', 'Nettozeit'])))
    df[['Startnr.', 'Name']] = df.apply(lambda row: extract_Startnr_and_add_Name(row['Startnr.'], row['Name']), axis=1, result_type='expand')
    df[['Startnr.', 'Name']] = df.apply(lambda row: extract_Name_and_add_Startnr(row['Name'], row['Startnr.']), axis=1, result_type='expand')
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df = df.reset_index(drop=True)
    df[['Platz AK', 'Verein']] = pd.DataFrame(df['Platz AK, Verein'].apply(split_column).tolist())
    df = df.drop(columns=['Platz AK, Verein'])
    df = df[['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit']]
    df['Strecke'] = 20
    return df

In [29]:
twenty1 = adjustments20(twenty1)
twenty2 = adjustments20(twenty2)
twenty3 = adjustments20(twenty3)
twenty4 = adjustments20_alt1(twenty4)
twenty5 = adjustments20(twenty5)

In [30]:
twenty2.loc[10, 'AK'] = 'M40'
twenty3.loc[15, 'Verein'] = 'bsg-dkb.de / ERDINGER Active TEAM'
twenty3.loc[15, 'Bruttozeit'] = '1:49:50 h'
twenty4.loc[14, 'Verein'] = 'SV Blau-Weiß-Petershagen Eggersdorf'
twenty4.loc[14, 'Bruttozeit'] = '2:01:36 h'

In [31]:
twenty_km = pd.concat([twenty1, twenty2, twenty3, twenty4, twenty5], axis=0)
twenty_km = twenty_km.reset_index(drop=True)
twenty_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,55,M 20,1,SV Friedrichstadt Berlin,1:06:59 h,(1:06:58),20
1,91,M 30,1,Diehloer Hügelläufer,1:09:35 h,(1:09:35),20
2,53,M 30,2,Berlin,1:10:42 h,(1:10:39),20
3,117,M 40,1,Berlin Harriers,1:14:49 h,(1:14:43),20
4,1037,M 35,1,Berlin,1:16:04 h,(1:15:58),20
...,...,...,...,...,...,...,...
112,93,W 50,1,LG Mauerweg Berlin e.V.,2:15:13 h,(2:14:43),20
113,57,W 20,7,Berlin,2:19:10 h,(2:17:41),20
114,109,W 60,2,Berlin,2:22:25 h,(2:22:03),20
115,13,W 20,8,Steglitz,2:27:21 h,(2:25:27),20
116,122,M 60,6,Berlin,2:29:45 h,(2:27:55),20

### MERGE ALL DATA

In [32]:
all = pd.concat([five_km, ten_km, fifteen_km, twenty_km], axis=0)
all = all.reset_index(drop=True)
all

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,605,M 20,1,TuS Kreuzweingarten-Rheder,17:16 min,(17:15),5
1,666,M 40,1,LG Mauerweg Berlin e.V.,17:56 min,(17:55),5
2,1083,M 30,1,BSV Friesen,18:07 min,(18:05),5
3,643,M 20,2,TuS Neukölln Berlin,18:12 min,(17:55),5
4,601,M 35,1,TVB 09,18:43 min,(18:27),5
...,...,...,...,...,...,...,...
682,93,W 50,1,LG Mauerweg Berlin e.V.,2:15:13 h,(2:14:43),20
683,57,W 20,7,Berlin,2:19:10 h,(2:17:41),20
684,109,W 60,2,Berlin,2:22:25 h,(2:22:03),20
685,13,W 20,8,Steglitz,2:27:21 h,(2:25:27),20
686,122,M 60,6,Berlin,2:29:45 h,(2:27:55),20

In [35]:
all.to_csv('data/plaenterwaldlauf.csv', index=True)