In this notebook I extract the data from the PDFs provided by the organizers of the run. I use Camelot.

In [1]:
import pandas as pd
import numpy as np
import camelot

### DATA OF 5KM RUN

In [2]:
tables5 = camelot.read_pdf('data/5+km+Lauf_1_1597.pdf', flavor='stream', pages='all')

In [3]:
five1=tables5[0].df
five2=tables5[1].df
five3=tables5[2].df
five4=tables5[3].df

In [4]:
def adjustments5(df):
    df = df.drop(0)
    df = df.drop([0,1,2], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df = df.reset_index(drop=True)
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Strecke'] = 5
    return df

In [5]:
five1 = adjustments5(five1)
five2 = adjustments5(five2)
five3 = adjustments5(five3)
five4 = adjustments5(five4)

In [6]:
five4.loc[9, 'AK'] = 'M 55'
five4.loc[10, 'AK'] = 'W20'

In [7]:
five_km = pd.concat([five1, five2, five3, five4], axis=0)

In [8]:
five_km = five_km.reset_index(drop=True)

In [9]:
five_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,605,M 20,1,TuS Kreuzweingarten-Rheder,17:16 min,(17:15),5
1,666,M 40,1,LG Mauerweg Berlin e.V.,17:56 min,(17:55),5
2,1083,M 30,1,BSV Friesen,18:07 min,(18:05),5
3,643,M 20,2,TuS Neukölln Berlin,18:12 min,(17:55),5
4,601,M 35,1,TVB 09,18:43 min,(18:27),5
...,...,...,...,...,...,...,...
197,520,W 40,18,LG Mauerweg Berlin e.V.,47:05 min,(45:08),5
198,700,W 55,7,Berlin,49:49 min,(48:42),5
199,128,W 20,11,adidas runners,56:19 min,(55:12),5
200,573,W 55,8,Lauftreff Brunnenviertel,56:42 min,(56:24),5
201,1009,M 50,6,Berlin,2:00:26 h,(2:00:26),5

### DATA OF 10KM RUN

In [10]:
tables10 = camelot.read_pdf('data/10+km+Lauf_2_1597.pdf', flavor='stream', pages='all')

In [11]:
tables10

In [12]:
for i, df in enumerate(tables10):
    globals()[f'ten{i+1}'] = df.df

In [13]:
ten1.iloc[41, 6] = 'Ghost Runners International Club'
ten1.iloc[41, 7] = ''
ten3.iloc[27,6] = 'Laufgruppe Hohenschönhausen'
ten3.iloc[27,7] = ''
ten4.iloc[47,6] = 'BSC Eintracht Südring Futsal'
ten4.iloc[47,7] = ''
ten4.iloc[27, 6] = 'Ghost Runners International Club'
ten4.iloc[27, 7] = ''
ten9.iloc[44,5] = 'SCC BERLIN SEEWOLFJÄGER'
ten9.iloc[44,6] = ''
ten10.iloc[39,6] = 'bsg-dkb.de / ERDINGER Active TEAM'
ten10.iloc[39,7] = ''
ten10.iloc[17,6]= 'SV Blau-Weiß Petershagen/Eggersdorf'
ten10.iloc[17,7] = ''

In [14]:
def adjustments(df, distance):
    df = df.drop(0)
    df = df.drop([0,1,2,7], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

def adjustments_alt1(df, distance):
    df = df.drop(0)
    df = df.drop([0,1,2], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

def adjustments_alt2(df, distance):
    df = df.drop([0,1,2,3])
    df = df.drop([0,2,6], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

In [15]:
ten1 = adjustments(ten1,10)
ten2 = adjustments(ten2,10)
ten3 = adjustments(ten3,10)
ten4 = adjustments(ten4,10)
ten5 = adjustments(ten5,10)
ten6 = adjustments(ten6,10)
ten7 = adjustments_alt1(ten7,10)
ten8 = adjustments_alt2(ten8,10)
ten9 = adjustments_alt2(ten9,10)
ten10 = adjustments(ten10,10)

In [16]:
ten1.loc[14, 'AK'] = 'M 35'
ten9.loc[11, 'AK'] = 'M 40'
ten10.loc[16, 'AK'] = 'W 55'

In [17]:
ten_km = pd.concat([ten1, ten2, ten3, ten4, ten5, ten6, ten7, ten8, ten9, ten10], axis=0)

In [18]:
ten_km = ten_km.reset_index(drop=True)

In [19]:
ten_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,381,M 20,1,Team Berlin Triathlon,31:41 min,(31:41),10
1,318,M 20,2,SGS Running Team,33:50 min,(33:50),10
2,323,M 20,3,Berlin,36:17 min,(36:15),10
3,400,M 30,1,Hasenheide parkrunners,36:23 min,(36:23),10
4,420,M 30,2,Berlin,36:30 min,(36:28),10
...,...,...,...,...,...,...,...
266,240,W 30,21,Berlin,1:24:18 h,(1:22:40),10
267,235,W 55,4,Berlin - Pankow,1:25:07 h,(1:24:35),10
268,234,W 55,5,Berlin,1:25:30 h,(1:24:02),10
269,253,W 55,6,Berlin,1:27:23 h,(1:26:05),10
270,269,M 35,32,bsg-dkb.de / ERDINGER Active TEAM,1:31:13 h,(1:29:36),10

### DATA OF 15KM RUN

In [20]:
tables15 = camelot.read_pdf('data/15+km+Lauf_3_1597.pdf', flavor='stream', pages='all')

In [21]:
tables15

In [22]:
for i, df in enumerate(tables15):
    globals()[f'fifteen{i+1}'] = df.df