In this notebook I extract the data from the PDFs provided by the organizers of the run. I use Camelot.

In [1]:
import pandas as pd
import numpy as np
import camelot
import re

### DATA OF 5KM RUN

In [2]:
tables5 = camelot.read_pdf('data/5+km+Lauf_1_1597.pdf', flavor='stream', pages='all')

In [3]:
five1=tables5[0].df
five2=tables5[1].df
five3=tables5[2].df
five4=tables5[3].df

In [4]:
def adjustments5(df):
    df = df.drop(0)
    df = df.drop([0,1,2], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df = df.reset_index(drop=True)
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Strecke'] = 5
    return df

In [5]:
five1 = adjustments5(five1)
five2 = adjustments5(five2)
five3 = adjustments5(five3)
five4 = adjustments5(five4)

In [6]:
five4.loc[9, 'AK'] = 'M 55'
five4.loc[10, 'AK'] = 'W20'

In [7]:
five_km = pd.concat([five1, five2, five3, five4], axis=0)
five_km = five_km.reset_index(drop=True)
five_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,605,M 20,1,TuS Kreuzweingarten-Rheder,17:16 min,(17:15),5
1,666,M 40,1,LG Mauerweg Berlin e.V.,17:56 min,(17:55),5
2,1083,M 30,1,BSV Friesen,18:07 min,(18:05),5
3,643,M 20,2,TuS Neukölln Berlin,18:12 min,(17:55),5
4,601,M 35,1,TVB 09,18:43 min,(18:27),5
...,...,...,...,...,...,...,...
197,520,W 40,18,LG Mauerweg Berlin e.V.,47:05 min,(45:08),5
198,700,W 55,7,Berlin,49:49 min,(48:42),5
199,128,W 20,11,adidas runners,56:19 min,(55:12),5
200,573,W 55,8,Lauftreff Brunnenviertel,56:42 min,(56:24),5
201,1009,M 50,6,Berlin,2:00:26 h,(2:00:26),5

### DATA OF 10KM RUN

In [8]:
tables10 = camelot.read_pdf('data/10+km+Lauf_2_1597.pdf', flavor='stream', pages='all')

In [9]:
tables10

In [10]:
for i, df in enumerate(tables10):
    globals()[f'ten{i+1}'] = df.df

In [11]:
ten1.iloc[41, 6] = 'Ghost Runners International Club'
ten1.iloc[41, 7] = ''
ten3.iloc[27,6] = 'Laufgruppe Hohenschönhausen'
ten3.iloc[27,7] = ''
ten4.iloc[47,6] = 'BSC Eintracht Südring Futsal'
ten4.iloc[47,7] = ''
ten4.iloc[27, 6] = 'Ghost Runners International Club'
ten4.iloc[27, 7] = ''
ten9.iloc[44,5] = 'SCC BERLIN SEEWOLFJÄGER'
ten9.iloc[44,6] = ''
ten10.iloc[39,6] = 'bsg-dkb.de / ERDINGER Active TEAM'
ten10.iloc[39,7] = ''
ten10.iloc[17,6]= 'SV Blau-Weiß Petershagen/Eggersdorf'
ten10.iloc[17,7] = ''

In [12]:
def adjustments10(df, distance):
    df = df.drop(0)
    df = df.drop([0,1,2,7], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

def adjustments10_alt1(df, distance):
    df = df.drop(0)
    df = df.drop([0,1,2], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

def adjustments10_alt2(df, distance):
    df = df.drop([0,1,2,3])
    df = df.drop([0,2,6], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

In [13]:
ten1 = adjustments10(ten1,10)
ten2 = adjustments10(ten2,10)
ten3 = adjustments10(ten3,10)
ten4 = adjustments10(ten4,10)
ten5 = adjustments10(ten5,10)
ten6 = adjustments10(ten6,10)
ten7 = adjustments10_alt1(ten7,10)
ten8 = adjustments10_alt2(ten8,10)
ten9 = adjustments10_alt2(ten9,10)
ten10 = adjustments10(ten10,10)

In [14]:
ten1.loc[14, 'AK'] = 'M 35'
ten9.loc[11, 'AK'] = 'M 40'
ten10.loc[16, 'AK'] = 'W 55'

In [15]:
ten_km = pd.concat([ten1, ten2, ten3, ten4, ten5, ten6, ten7, ten8, ten9, ten10], axis=0)
ten_km = ten_km.reset_index(drop=True)
ten_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,381,M 20,1,Team Berlin Triathlon,31:41 min,(31:41),10
1,318,M 20,2,SGS Running Team,33:50 min,(33:50),10
2,323,M 20,3,Berlin,36:17 min,(36:15),10
3,400,M 30,1,Hasenheide parkrunners,36:23 min,(36:23),10
4,420,M 30,2,Berlin,36:30 min,(36:28),10
...,...,...,...,...,...,...,...
266,240,W 30,21,Berlin,1:24:18 h,(1:22:40),10
267,235,W 55,4,Berlin - Pankow,1:25:07 h,(1:24:35),10
268,234,W 55,5,Berlin,1:25:30 h,(1:24:02),10
269,253,W 55,6,Berlin,1:27:23 h,(1:26:05),10
270,269,M 35,32,bsg-dkb.de / ERDINGER Active TEAM,1:31:13 h,(1:29:36),10

### DATA OF 15KM RUN

In [16]:
tables15 = camelot.read_pdf('data/15+km+Lauf_3_1597.pdf', flavor='stream', pages='all')

In [17]:
tables15

In [18]:
for i, df in enumerate(tables15):
    globals()[f'fifteen{i+1}'] = df.df

In [19]:
def split_column(row):
    if '\n' in str(row):
        return row.split('\n')
    else:
        return [row, '']

In [20]:
def adjustments15(df):
    df = df.drop([0,1,2], axis=1)
    df = df.drop(0)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df = df.reset_index(drop=True)
    df[['Platz AK', 'Verein2']] = pd.DataFrame(df['Platz AK'].apply(split_column).tolist())
    df['Merged_Verein'] = df['Verein'].fillna('') + df['Verein2'].fillna('')
    df.drop(columns=['Verein', 'Verein2'], inplace=True)
    df.rename(columns={'Merged_Verein': 'Verein'}, inplace=True)
    df = df[['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit']]
    df['Strecke'] = 15
    return df

In [21]:
fifteen1 = adjustments15(fifteen1)
# just noticed, that for some reason the dfs fifteen1 and fifteen2 as created by camlot contain exactly the same table, so the numbers are a bit mixed up now
fifteen2 = adjustments15(fifteen3)
fifteen3 = adjustments15(fifteen4)
fifteen4 = adjustments15(fifteen5)

In [22]:
fifteen2.loc[23, 'AK'] = 'W 50'

In [23]:
fifteen_km = pd.concat([fifteen1, fifteen2, fifteen3, fifteen4], axis=0)
fifteen_km = fifteen_km.reset_index(drop=True)
fifteen_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,861,M 30,1,Berlin Harriers,55:27 min,(55:15),15
1,816,M 35,1,SSV Ulm Triathlon,55:42 min,(55:41),15
2,881,M 30,2,WSV 21 Wolfenbüttel,55:48 min,(55:46),15
3,871,M 35,2,Berlin,57:02 min,(56:48),15
4,836,M 40,1,TuS Lichterfelde,57:05 min,(57:03),15
...,...,...,...,...,...,...,...
92,869,W 30,3,Berlin,1:51:13 h,(1:49:29),15
93,858,W 60,3,SC Borussia Friedrichsfelde Berlin,1:54:10 h,(1:53:25),15
94,817,M 30,11,Penny Runners,2:00:16 h,(1:58:29),15
95,889,W 50,3,Berlin,2:06:18 h,(2:05:07),15
96,77,M 60,4,SCC Berlin,2:20:04 h,(2:20:04),15

### DATA OF 20KM RUN

In [24]:
tables20 = camelot.read_pdf('data/20+km+Lauf_4_1597.pdf', flavor='stream', pages='all')

In [25]:
tables20

In [26]:
twenty1 = tables20[0].df
twenty2 = tables20[2].df
twenty3 = tables20[3].df
twenty4 = tables20[4].df
twenty5 = tables20[6].df

In [27]:
def extract_Startnr_and_add_Name(value, existing):
    if isinstance(value, str):
        match = re.match(r'^(\d+)(\D.*)', value)
        if match:
            Startnr = int(match.group(1))
            Name = match.group(2)
            if existing:
                return Startnr, existing + Name
            else:
                return Startnr, Name
    return value, existing

def extract_Name_and_add_Startnr(value, existing):
    if isinstance(value, str):
        match = re.match(r'^(\d+)\s+(.*)', value)
        if match:
            Startnr = match.group(1)
            Name = match.group(2)
            return existing + Startnr, Name
    return existing, value

In [28]:
def adjustments20(df):
    df = df.drop([0,1,2], axis=1)
    df = df.drop([0,1])
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'Name', 'AK', 'Platz AK, Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([2,3])
    df[['Startnr.', 'Name']] = df.apply(lambda row: extract_Startnr_and_add_Name(row['Startnr.'], row['Name']), axis=1, result_type='expand')
    df[['Startnr.', 'Name']] = df.apply(lambda row: extract_Name_and_add_Startnr(row['Name'], row['Startnr.']), axis=1, result_type='expand')
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df = df.reset_index(drop=True)
    df[['Platz AK', 'Verein']] = pd.DataFrame(df['Platz AK, Verein'].apply(split_column).tolist())
    df = df.drop(columns=['Platz AK, Verein'])
    df = df[['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit']]
    df['Strecke'] = 20
    return df

def adjustments20_alt1(df):
    df = df.drop([0,1,2], axis=1)
    df = df.drop([0,1])
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'Name', 'AK', 'Platz AK, Verein', 'Bruttozeit', 'Nettozeit'])))
    df[['Startnr.', 'Name']] = df.apply(lambda row: extract_Startnr_and_add_Name(row['Startnr.'], row['Name']), axis=1, result_type='expand')
    df[['Startnr.', 'Name']] = df.apply(lambda row: extract_Name_and_add_Startnr(row['Name'], row['Startnr.']), axis=1, result_type='expand')
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df = df.reset_index(drop=True)
    df[['Platz AK', 'Verein']] = pd.DataFrame(df['Platz AK, Verein'].apply(split_column).tolist())
    df = df.drop(columns=['Platz AK, Verein'])
    df = df[['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit']]
    df['Strecke'] = 20
    return df

In [29]:
twenty1 = adjustments20(twenty1)
twenty2 = adjustments20(twenty2)
twenty3 = adjustments20(twenty3)
twenty4 = adjustments20_alt1(twenty4)
twenty5 = adjustments20(twenty5)

In [34]:
twenty2.loc[10, 'AK'] = 'M40'
twenty3.loc[16, 'Verein'] = 'bsg-dkb.de / ERDINGER Active TEAM'
twenty3.loc[16, 'Bruttozeit'] = '1:49:50 h'
twenty4.loc[15, 'Verein'] = 'SV Blau-Weiß-Petershagen Eggersdorf'
twenty4.loc[15, 'Bruttozeit'] = '2:01:36 h'

In [35]:
twenty_km = pd.concat([twenty1, twenty2, twenty3, twenty4, twenty5], axis=0)
twenty_km = twenty_km.reset_index(drop=True)
twenty_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,55,M 20,1,SV Friedrichstadt Berlin,1:06:59 h,(1:06:58),20
1,91,M 30,1,Diehloer Hügelläufer,1:09:35 h,(1:09:35),20
2,53,M 30,2,Berlin,1:10:42 h,(1:10:39),20
3,117,M 40,1,Berlin Harriers,1:14:49 h,(1:14:43),20
4,1037,M 35,1,Berlin,1:16:04 h,(1:15:58),20
...,...,...,...,...,...,...,...
112,93,W 50,1,LG Mauerweg Berlin e.V.,2:15:13 h,(2:14:43),20
113,57,W 20,7,Berlin,2:19:10 h,(2:17:41),20
114,109,W 60,2,Berlin,2:22:25 h,(2:22:03),20
115,13,W 20,8,Steglitz,2:27:21 h,(2:25:27),20
116,122,M 60,6,Berlin,2:29:45 h,(2:27:55),20

### MERGE ALL DATA

In [36]:
all = pd.concat([five_km, ten_km, fifteen_km, twenty_km], axis=0)
all = all.reset_index(drop=True)
all

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,605,M 20,1,TuS Kreuzweingarten-Rheder,17:16 min,(17:15),5
1,666,M 40,1,LG Mauerweg Berlin e.V.,17:56 min,(17:55),5
2,1083,M 30,1,BSV Friesen,18:07 min,(18:05),5
3,643,M 20,2,TuS Neukölln Berlin,18:12 min,(17:55),5
4,601,M 35,1,TVB 09,18:43 min,(18:27),5
...,...,...,...,...,...,...,...
682,93,W 50,1,LG Mauerweg Berlin e.V.,2:15:13 h,(2:14:43),20
683,57,W 20,7,Berlin,2:19:10 h,(2:17:41),20
684,109,W 60,2,Berlin,2:22:25 h,(2:22:03),20
685,13,W 20,8,Steglitz,2:27:21 h,(2:25:27),20
686,122,M 60,6,Berlin,2:29:45 h,(2:27:55),20

In [37]:
all['Bruttozeit'].unique()

array(['17:16 min', '17:56 min', '18:07 min', '18:12 min', '18:43 min',
       '18:47 min', '19:10 min', '19:11 min', '19:42 min', '20:08 min',
       '20:09 min', '20:34 min', '20:35 min', '20:52 min', '21:10 min',
       '21:13 min', '21:36 min', '22:06 min', '22:14 min', '22:28 min',
       '22:43 min', '22:50 min', '23:10 min', '23:51 min', '24:03 min',
       '24:06 min', '24:09 min', '24:28 min', '24:38 min', '24:41 min',
       '24:42 min', '24:45 min', '24:48 min', '24:49 min', '24:55 min',
       '25:01 min', '25:06 min', '25:11 min', '26:03 min', '26:07 min',
       '26:14 min', '26:15 min', '26:20 min', '26:22 min', '26:45 min',
       '26:46 min', '26:47 min', '26:50 min', '26:54 min', '27:06 min',
       '27:32 min', '27:33 min', '27:37 min', '27:45 min', '27:56 min',
       '28:11 min', '28:12 min', '28:19 min', '28:22 min', '28:29 min',
       '28:31 min', '28:38 min', '28:39 min', '28:43 min', '28:53 min',
       '28:54 min', '28:59 min', '29:01 min', '29:07 min', '29:09 min',
       '29:11 min', '29:13 min', '29:18 min', '29:26 min', '29:42 min',
       '29:48 min', '29:49 min', '29:51 min', '29:57 min', '30:06 min',
       '30:12 min', '30:23 min', '30:25 min', '30:28 min', '30:31 min',
       '30:37 min', '30:39 min', '30:43 min', '30:48 min', '30:49 min',
       '30:53 min', '30:54 min', '30:55 min', '30:56 min', '30:58 min',
       '30:59 min', '31:03 min', '31:06 min', '31:10 min', '31:11 min',
       '31:12 min', '31:28 min', '31:29 min', '31:32 min', '31:34 min',
       '31:50 min', '31:51 min', '31:52 min', '31:54 min', '32:02 min',
       '32:07 min', '32:12 min', '32:20 min', '32:29 min', '32:30 min',
       '32:40 min', '32:45 min', '32:49 min', '32:53 min', '32:57 min',
       '33:10 min', '33:16 min', '33:17 min', '33:25 min', '33:32 min',
       '33:43 min', '33:56 min', '33:58 min', '34:04 min', '34:11 min',
       '34:17 min', '34:18 min', '34:28 min', '34:36 min', '34:46 min',
       '34:53 min', '34:55 min', '34:59 min', '35:31 min', '35:33 min',
       '35:47 min', '36:12 min', '36:22 min', '36:31 min', '36:44 min',
       '36:58 min', '37:00 min', '37:11 min', '37:21 min', '37:27 min',
       '37:28 min', '37:33 min', '37:35 min', '37:44 min', '37:57 min',
       '38:08 min', '38:16 min', '38:21 min', '38:23 min', '38:28 min',
       '38:38 min', '38:47 min', '38:50 min', '39:00 min', '39:03 min',
       '39:14 min', '39:18 min', '39:42 min', '39:48 min', '40:09 min',
       '41:16 min', '41:19 min', '42:31 min', '44:49 min', '44:50 min',
       '45:13 min', '45:43 min', '46:22 min', '46:27 min', '47:05 min',
       '49:49 min', '56:19 min', '56:42 min', '2:00:26 h', '31:41 min',
       '33:50 min', '36:17 min', '36:23 min', '36:30 min', '36:41 min',
       '37:46 min', '38:00 min', '38:14 min', '40:51 min', '40:54 min',
       '40:58 min', '41:06 min', '41:37 min', '41:40 min', '41:59 min',
       '42:01 min', '42:14 min', '42:21 min', '42:29 min', '42:38 min',
       '43:00 min', '43:07 min', '43:17 min', '44:13 min', '44:14 min',
       '44:18 min', '44:19 min', '44:32 min', '44:33 min', '45:00 min',
       '45:23 min', '45:28 min', '46:00 min', '46:06 min', '46:21 min',
       '46:39 min', '46:49 min', '47:12 min', '47:32 min', '47:37 min',
       '47:56 min', '48:06 min', '48:16 min', '48:20 min', '48:21 min',
       '48:35 min', '48:45 min', '48:50 min', '48:54 min', '48:58 min',
       '49:03 min', '49:04 min', '49:05 min', '49:08 min', '49:19 min',
       '49:21 min', '49:27 min', '49:42 min', '49:51 min', '49:54 min',
       '49:55 min', '49:59 min', '50:06 min', '50:15 min', '50:37 min',
       '50:38 min', '50:40 min', '50:43 min', '51:11 min', '51:18 min',
       '51:49 min', '51:58 min', '52:02 min', '52:16 min', '52:20 min',
       '52:24 min', '52:51 min', '52:55 min', '53:03 min', '53:15 min',
       '53:16 min', '53:17 min', '53:37 min', '53:51 min', '53:52 min',
       '53:58 min', '54:11 min', '54:23 min', '54:26 min', '54:38 min',
       '54:40 min', '54:49 min', '54:52 min', '54:56 min', '54:57 min',
       '55:11 min', '55:15 min', '55:20 min', '55:21 min', '55:30 min',
       '55:31 min', '55:32 min', '55:33 min', '55:34 min', '55:35 min',
       '55:37 min', '55:40 min', '55:41 min', '55:46 min', '56:08 min',
       '56:12 min', '56:28 min', '56:31 min', '56:32 min', '56:34 min',
       '56:45 min', '56:49 min', '56:52 min', '56:54 min', '57:25 min',
       '57:31 min', '57:38 min', '57:52 min', '58:03 min', '58:04 min',
       '58:07 min', '58:08 min', '58:14 min', '58:26 min', '58:28 min',
       '58:33 min', '58:48 min', '58:50 min', '58:53 min', '58:54 min',
       '58:58 min', '59:00 min', '59:04 min', '59:09 min', '59:14 min',
       '59:20 min', '59:33 min', '59:42 min', '59:45 min', '59:46 min',
       '59:49 min', '59:52 min', '59:54 min', '1:00:03 h', '1:00:20 h',
       '1:00:35 h', '1:00:42 h', '1:00:55 h', '1:01:06 h', '1:01:15 h',
       '1:01:35 h', '1:01:43 h', '1:01:49 h', '1:02:06 h', '1:02:07 h',
       '1:02:10 h', '1:02:16 h', '1:02:26 h', '1:02:30 h', '1:02:31 h',
       '1:02:35 h', '1:02:52 h', '1:02:54 h', '1:03:01 h', '1:03:02 h',
       '1:03:09 h', '1:03:25 h', '1:03:27 h', '1:03:41 h', '1:03:48 h',
       '1:03:50 h', '1:03:51 h', '1:03:52 h', '1:04:00 h', '1:04:01 h',
       '1:04:02 h', '1:04:07 h', '1:04:19 h', '1:04:20 h', '1:04:25 h',
       '1:04:27 h', '1:04:31 h', '1:04:34 h', '1:04:55 h', '1:04:56 h',
       '1:04:57 h', '1:05:00 h', '1:05:03 h', '1:05:08 h', '1:05:35 h',
       '1:05:37 h', '1:05:47 h', '1:05:50 h', '1:05:53 h', '1:06:03 h',
       '1:06:04 h', '1:06:18 h', '1:06:49 h', '1:06:53 h', '1:06:58 h',
       '1:06:59 h', '1:07:09 h', '1:07:48 h', '1:08:06 h', '1:08:15 h',
       '1:08:19 h', '1:08:20 h', '1:08:22 h', '1:08:30 h', '1:09:06 h',
       '1:09:44 h', '1:10:22 h', '1:10:23 h', '1:10:25 h', '1:10:58 h',
       '1:10:59 h', '1:11:40 h', '1:11:55 h', '1:12:16 h', '1:12:17 h',
       '1:12:44 h', '1:13:41 h', '1:13:52 h', '1:14:02 h', '1:14:44 h',
       '1:15:36 h', '1:15:39 h', '1:16:45 h', '1:17:43 h', '1:17:55 h',
       '1:17:59 h', '1:18:42 h', '1:19:38 h', '1:21:17 h', '1:22:37 h',
       '1:22:39 h', '1:24:18 h', '1:25:07 h', '1:25:30 h', '1:27:23 h',
       '1:31:13 h', '55:27 min', '55:42 min', '55:48 min', '57:02 min',
       '57:05 min', '58:12 min', '58:42 min', '59:25 min', '1:05:48 h',
       '1:06:10 h', '1:10:48 h', '1:12:13 h', '1:13:37 h', '1:14:04 h',
       '1:14:07 h', '1:14:52 h', '1:15:09 h', '1:15:11 h', '1:15:18 h',
       '1:16:15 h', '1:16:16 h', '1:16:35 h', '1:17:18 h', '1:17:54 h',
       '1:18:09 h', '1:18:20 h', '1:18:50 h', '1:19:17 h', '1:19:18 h',
       '1:19:22 h', '1:20:12 h', '1:20:51 h', '1:21:02 h', '1:21:45 h',
       '1:22:04 h', '1:22:09 h', '1:22:31 h', '1:22:54 h', '1:23:19 h',
       '1:23:21 h', '1:23:37 h', '1:24:17 h', '1:24:47 h', '1:25:53 h',
       '1:25:58 h', '1:26:13 h', '1:26:55 h', '1:27:06 h', '1:27:56 h',
       '1:28:14 h', '1:29:06 h', '1:29:58 h', '1:30:17 h', '1:30:26 h',
       '1:30:27 h', '1:30:34 h', '1:30:40 h', '1:30:59 h', '1:31:15 h',
       '1:31:39 h', '1:32:15 h', '1:32:20 h', '1:32:39 h', '1:33:14 h',
       '1:33:15 h', '1:33:21 h', '1:34:00 h', '1:35:01 h', '1:35:02 h',
       '1:35:03 h', '1:35:12 h', '1:35:26 h', '1:35:40 h', '1:35:50 h',
       '1:36:29 h', '1:36:34 h', '1:39:23 h', '1:40:22 h', '1:40:27 h',
       '1:40:43 h', '1:42:26 h', '1:42:39 h', '1:43:56 h', '1:45:10 h',
       '1:46:05 h', '1:46:42 h', '1:46:45 h', '1:51:13 h', '1:54:10 h',
       '2:00:16 h', '2:06:18 h', '2:20:04 h', '1:09:35 h', '1:10:42 h',
       '1:14:49 h', '1:16:04 h', '1:17:17 h', '1:18:43 h', '1:22:41 h',
       '1:22:58 h', '1:23:01 h', '1:23:28 h', '1:25:22 h', '1:25:37 h',
       '1:26:54 h', '1:27:21 h', '1:27:41 h', '1:28:08 h', '1:28:29 h',
       '1:28:55 h', '1:29:05 h', '1:29:26 h', '1:29:29 h', '1:30:03 h',
       '1:31:29 h', '1:31:40 h', '1:32:58 h', '1:33:10 h', '1:33:11 h',
       '1:33:44 h', '1:34:12 h', '1:34:16 h', '1:34:19 h', '1:34:34 h',
       '1:35:11 h', '1:35:27 h', '1:35:46 h', '1:36:03 h', '1:36:22 h',
       '1:36:26 h', '1:36:28 h', '1:37:24 h', '1:37:40 h', '1:37:43 h',
       '1:37:52 h', '1:37:56 h', '1:38:10 h', '1:39:25 h', '1:39:44 h',
       '1:41:05 h', '1:41:09 h', '1:41:17 h', '1:41:41 h', '1:42:59 h',
       '1:43:17 h', '1:43:21 h', '1:43:44 h', '1:43:47 h', '1:43:53 h',
       '1:44:04 h', '1:45:08 h', '1:45:45 h', '1:46:12 h', '1:46:57 h',
       '1:46:58 h', '1:47:34 h', '1:47:50 h', '1:48:12 h', '1:49:06 h',
       '1:49:50 h', '1:51:05 h', '1:51:21 h', '1:51:28 h', '1:51:39 h',
       '1:52:09 h', '1:53:09 h', '1:53:33 h', '1:53:36 h', '1:54:07 h',
       '1:54:13 h', '1:54:14 h', '1:54:24 h', '1:55:14 h', '1:55:30 h',
       '1:55:37 h', '1:55:51 h', '1:56:00 h', '1:56:02 h', '1:57:10 h',
       '1:57:55 h', '1:57:56 h', '1:58:08 h', '1:58:35 h', '2:00:34 h',
       '2:01:36 h', '2:02:17 h', '2:02:23 h', '2:02:24 h', '2:03:27 h',
       '2:03:50 h', '2:05:27 h', '2:05:31 h', '2:07:15 h', '2:08:57 h',
       '2:09:21 h', '2:12:25 h', '2:15:13 h', '2:19:10 h', '2:22:25 h',
       '2:27:21 h', '2:29:45 h'], dtype=object)

In [38]:
all.to_csv('data/plaenterwaldlauf.csv', index=True)