In this notebook I extract the data from the PDFs provided by the organizers of the run. I use Camelot.

In [1]:
import pandas as pd
import numpy as np
import camelot

### DATA OF 5KM RUN

In [2]:
tables5 = camelot.read_pdf('data/5+km+Lauf_1_1597.pdf', flavor='stream', pages='all')

In [3]:
five1=tables5[0].df
five2=tables5[1].df
five3=tables5[2].df
five4=tables5[3].df

In [4]:
def adjustments5(df):
    df = df.drop(0)
    df = df.drop([0,1,2], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df = df.reset_index(drop=True)
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Strecke'] = 5
    return df

In [5]:
five1 = adjustments5(five1)
five2 = adjustments5(five2)
five3 = adjustments5(five3)
five4 = adjustments5(five4)

In [6]:
five4.loc[9, 'AK'] = 'M 55'
five4.loc[10, 'AK'] = 'W20'

In [7]:
five_km = pd.concat([five1, five2, five3, five4], axis=0)

In [8]:
five_km = five_km.reset_index(drop=True)

In [9]:
five_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,605,M 20,1,TuS Kreuzweingarten-Rheder,17:16 min,(17:15),5
1,666,M 40,1,LG Mauerweg Berlin e.V.,17:56 min,(17:55),5
2,1083,M 30,1,BSV Friesen,18:07 min,(18:05),5
3,643,M 20,2,TuS Neukölln Berlin,18:12 min,(17:55),5
4,601,M 35,1,TVB 09,18:43 min,(18:27),5
...,...,...,...,...,...,...,...
197,520,W 40,18,LG Mauerweg Berlin e.V.,47:05 min,(45:08),5
198,700,W 55,7,Berlin,49:49 min,(48:42),5
199,128,W 20,11,adidas runners,56:19 min,(55:12),5
200,573,W 55,8,Lauftreff Brunnenviertel,56:42 min,(56:24),5
201,1009,M 50,6,Berlin,2:00:26 h,(2:00:26),5

### DATA OF 10KM RUN

In [10]:
tables10 = camelot.read_pdf('data/10+km+Lauf_2_1597.pdf', flavor='stream', pages='all')

In [11]:
tables10

In [12]:
for i, df in enumerate(tables10):
    globals()[f'ten{i+1}'] = df.df

In [13]:
ten1.iloc[41, 6] = 'Ghost Runners International Club'
ten1.iloc[41, 7] = ''
ten3.iloc[27,6] = 'Laufgruppe Hohenschönhausen'
ten3.iloc[27,7] = ''
ten4.iloc[47,6] = 'BSC Eintracht Südring Futsal'
ten4.iloc[47,7] = ''
ten4.iloc[27, 6] = 'Ghost Runners International Club'
ten4.iloc[27, 7] = ''
ten9.iloc[44,5] = 'SCC BERLIN SEEWOLFJÄGER'
ten9.iloc[44,6] = ''
ten10.iloc[39,6] = 'bsg-dkb.de / ERDINGER Active TEAM'
ten10.iloc[39,7] = ''
ten10.iloc[17,6]= 'SV Blau-Weiß Petershagen/Eggersdorf'
ten10.iloc[17,7] = ''

In [14]:
def adjustments(df, distance):
    df = df.drop(0)
    df = df.drop([0,1,2,7], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

def adjustments_alt1(df, distance):
    df = df.drop(0)
    df = df.drop([0,1,2], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df = df.drop([1,2])
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

def adjustments_alt2(df, distance):
    df = df.drop([0,1,2,3])
    df = df.drop([0,2,6], axis=1)
    df = df.rename(columns=dict(zip(df.columns, ['Startnr.', 'AK', 'Platz AK', 'Verein', 'Bruttozeit', 'Nettozeit'])))
    df['Startnr.'] = df['Startnr.'].str.replace(r'^(\d+)\D.*', r'\1', regex=True)
    df['Startnr.'] = df['Startnr.'].replace("", np.nan)
    df = df.dropna(subset=['Startnr.'])
    df['Strecke'] = distance
    df = df.reset_index(drop=True)
    return df

In [15]:
ten1 = adjustments(ten1,10)
ten2 = adjustments(ten2,10)
ten3 = adjustments(ten3,10)
ten4 = adjustments(ten4,10)
ten5 = adjustments(ten5,10)
ten6 = adjustments(ten6,10)
ten7 = adjustments_alt1(ten7,10)
ten8 = adjustments_alt2(ten8,10)
ten9 = adjustments_alt2(ten9,10)
ten10 = adjustments(ten10,10)

In [16]:
ten1.loc[14, 'AK'] = 'M 35'
ten9.loc[11, 'AK'] = 'M 40'
ten10.loc[16, 'AK'] = 'W 55'

In [17]:
ten_km = pd.concat([ten1, ten2, ten3, ten4, ten5, ten6, ten7, ten8, ten9, ten10], axis=0)

In [18]:
ten_km = ten_km.reset_index(drop=True)

In [19]:
ten_km

,Startnr.,AK,Platz AK,Verein,Bruttozeit,Nettozeit,Strecke
0,381,M 20,1,Team Berlin Triathlon,31:41 min,(31:41),10
1,318,M 20,2,SGS Running Team,33:50 min,(33:50),10
2,323,M 20,3,Berlin,36:17 min,(36:15),10
3,400,M 30,1,Hasenheide parkrunners,36:23 min,(36:23),10
4,420,M 30,2,Berlin,36:30 min,(36:28),10
...,...,...,...,...,...,...,...
266,240,W 30,21,Berlin,1:24:18 h,(1:22:40),10
267,235,W 55,4,Berlin - Pankow,1:25:07 h,(1:24:35),10
268,234,W 55,5,Berlin,1:25:30 h,(1:24:02),10
269,253,W 55,6,Berlin,1:27:23 h,(1:26:05),10
270,269,M 35,32,bsg-dkb.de / ERDINGER Active TEAM,1:31:13 h,(1:29:36),10

### DATA OF 15KM RUN

In [20]:
tables15 = camelot.read_pdf('data/15+km+Lauf_3_1597.pdf', flavor='stream', pages='all')

In [21]:
tables15

In [27]:
for i, df in enumerate(tables15):
    globals()[f'fifteen{i+1}'] = df.df

In [28]:
fifteen1

,0,1,2,3,4,5,6,7,8
0,15 km Gesamtwertung,,,,,,,,
1,Platz,Pl.,Pl.,"Stnr. Name, Vorname",AK,Platz\nVerein,,Bruttozeit,Nettozeit
2,,mä.,wei.,,,AKl.,Zwischenzeiten,,
3,1.,1,,"861\nDickey, James",M 30,1\nBerlin Harriers,,55:27 min,(55:15)
4,,,,,,"18:26,8","18:33,3 (37:00,1)","18:26,9 (55:27,0)",
5,2.,2,,"816\nPeitz, Christoph",M 35,1\nSSV Ulm Triathlon,,55:42 min,(55:41)
6,,,,,,"18:09,6","18:34,7 (36:44,3)","18:57,4 (55:41,7)",
7,3.,3,,"881\nBarkschat, Tobias",M 30,2,WSV 21 Wolfenbüttel,55:48 min,(55:46)
8,,,,,,"18:19,0","18:45,6 (37:04,6)","18:42,5 (55:47,1)",
9,4.,4,,"871\nLudwig, Ben",M 35,2\nBerlin,,57:02 min,(56:48)
10,,,,,,"18:57,0","18:54,8 (37:51,8)","19:09,5 (57:01,3)",
11,5.,5,,"836\nBatista Ferreira, Fabio",M 40,1\nTuS Lichterfelde,,57:05 min,(57:03)
12,,,,,,"19:08,0","19:08,4 (38:16,4)","18:47,9 (57:04,3)",
13,6.,6,,"1021\nHagedorn, Fabian",M 30,3,Erdinger Active TEAM,58:12 min,(58:11)
14,,,,,,"19:14,1","19:40,0 (38:54,1)","19:17,9 (58:12,0)",
15,7.,7,,"879\nAkkaparambil, Sadiqueali",M 35,3\nBielefeld,,58:42 min,(58:41)
16,,,,,,"18:57,8","19:48,4 (38:46,2)","19:55,7 (58:41,9)",
17,8.,8,,"868 Weller, Philipp",M 20,1\nVegan Runners,,59:25 min,(59:16)
18,,,,,,"19:58,8","20:14,1 (40:12,9)","19:12,0 (59:24,9)",
19,9.,,1,"885\nGericke, Damaris",W 45,1\nPotsdam,,1:05:48 h,(1:05:45)
20,,,,,,"21:10,8","22:01,2 (43:12,0)","22:35,1 (1:05:47,1)",
21,10.,9,,"1068\nGollmer, Benno",M 35,4\nTurbostaat,,1:06:10 h,(1:05:36)
22,,,,,,"22:35,4","22:00,0 (44:35,4)","21:33,8 (1:06:09,2)",
23,11.,10,,"841\nOpitz, Christian",M 55,1\nSCC Berlin,,1:10:48 h,(1:09:54)
24,,,,,,"23:31,8","23:21,0 (46:52,8)","23:54,6 (1:10:47,4)",
25,12.,11,,"875\nKelling, Fabian",M 40,2,Triathlon Team Eisenhart,1:12:13 h,(1:11:51)
26,,,,,,"25:30,3","25:15,6 (50:45,9)","21:27,1 (1:12:13,0)",
27,13.,12,,"887\nHahn, Carsten",M 55,2\nTeam Tibet,,1:13:37 h,(1:12:50)
28,,,,,,"24:52,8","24:01,5 (48:54,3)","24:42,6 (1:13:36,9)",
29,14.,13,,"832\nBackhaus, René",M 35,5\nBerlin Harriers,,1:14:04 h,(1:13:28)
30,,,,,,"25:36,1","24:17,8 (49:53,9)","24:10,1 (1:14:04,0)",
31,15.,14,,"815\nKlöppel, Steffen",M 40,3\nEberswalde,,1:14:07 h,(1:12:56)
32,,,,,,"25:35,8","24:17,6 (49:53,4)","24:13,0 (1:14:06,4)",
33,16.,15,,"894\nLutz, Tim",M 55,3\nBerlin,,1:14:52 h,(1:14:31)
34,,,,,,"25:01,8","24:54,4 (49:56,2)","24:55,0 (1:14:51,2)",
35,17.,16,,"878\nLindridge, Larmer",MJ U20,1\nBerlin,,1:15:09 h,(1:14:32)
36,,,,,,"25:40,7","24:38,8 (50:19,5)","24:48,7 (1:15:08,2)",
37,18.,17,,"28\nMüller, Thomas",M 60,1\nBerlin,,1:15:11 h,(1:14:35)
38,,,,,,"25:00,3","24:52,0 (49:52,3)","25:17,9 (1:15:10,2)",
39,19.,18,,"876\nStolz, Andreas",M 55,4\nBSV Friesen,,1:15:18 h,(1:14:56)
40,,,,,,"25:30,2","25:15,6 (50:45,8)","24:31,5 (1:15:17,3)",
41,20.,19,,"846\nClauß, Volker",M 45,1\nBerlin,,1:16:15 h,(1:15:37)
42,,,,,,"25:30,9","25:19,4 (50:50,3)","25:24,5 (1:16:14,8)",
43,21.,20,,"822\nOskamp, Frank",M 45,2\nBerlin,,1:16:16 h,(1:15:37)
44,,,,,,"26:06,6","25:29,4 (51:36,0)","24:39,1 (1:16:15,1)",
45,22.,,2,"851\nKroll, Helene",WJ U18,1\nBerlin,,1:16:35 h,(1:16:23)
46,,,,,,"24:38,4","25:12,7 (49:51,1)","26:43,6 (1:16:34,7)",
47,23.,,3,"883\nMahlow, Sara",W 35,1\nBerlin,,1:17:18 h,(1:16:17)
48,,,,,,"28:04,7","24:47,3 (52:52,0)","24:25,7 (1:17:17,7)",
49,24.,21,,"1004\nOberpichler, Gert",M 50,1,,1:17:54 h,(1:16:46)
50,,,,,,"27:03,4","25:39,3 (52:42,7)","25:10,6 (1:17:53,3)",
51,25.,22,,"1003\nStaepke, Michael",M 40,4,,1:17:54 h,(1:16:46)
52,,,,,,"27:02,9","25:39,7 (52:42,6)","25:11,4 (1:17:54,0)",
53,26.,23,,"896\nZug, Marlon",M 30,4\nBerlin,,1:18:09 h,(1:17:32)
54,,,,,,"25:38,7","25:54,6 (51:33,3)","26:34,8 (1:18:08,1)",
55,27.,24,,"890 Witten, Michael",M 40,5\nBerlin,,1:18:20 h,(1:17:32)
56,,,,,,"27:13,2","25:53,7 (53:06,9)","25:12,2 (1:18:19,1)",
57,28.,25,,"819\nMeany, Joshua",M 20,2\nBerlin,,1:18:50 h,(1:17:17)
58,,,,,,"28:00,2","24:52,7 (52:52,9)","25:56,9 (1:18:49,8)",